<form *transloco="let t" [formGroup]="bookAssetsForm">

    <div class="d-flex gap-1 mb-2">
        <label class="form-label label-lg flex-shrink-0" for="bookDocumentFC">{{ t('book_pdf') }} <span
                class="text-muted">*</span></label>

        <div class="form-group" [ngClass]="{'has-error':bookDocumentFC.hasError('required') && bookDocumentFC.touched}">

            <input type="file" class="form-input input-lg account-name" id="bookDocumentFC"
                formControlName="bookDocumentFC">

            <p *ngIf="bookDocumentFC.hasError('required') && bookDocumentFC.touched" class="form-input-hint">
                {{ t('book_file_req') }}
            </p>

        </div>
    </div>

</form>
