<div *transloco="let t" class="my-books ph-2">

        <div [className]="classes.shadow"  class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">{{ t('book_name')}}</th>
                        <th scope="col">{{ t('book_id')}}</th>
                        <th scope="col">{{ t('earnings_so_far')}}
                            <svg style="width:20px;height:20px" lyTooltip="{{ t('earnings_so_far_exp') }}"
                                [lyTooltipPlacement]="bottom" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                            </svg>
                        </th>
                        <th scope="col">{{ t('total_earnings')}}
                            <svg style="width:20px;height:20px" lyTooltip="{{ t('total_earnings_exp') }}"
                                [lyTooltipPlacement]="bottom" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                            </svg>
                        </th>
                        <th scope="col">{{ t('total_paid')}}
                            <svg style="width:20px;height:20px" lyTooltip="{{ t('total_paid_exp') }}"
                                [lyTooltipPlacement]="bottom" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M15.07,11.25L14.17,12.17C13.45,12.89 13,13.5 13,15H11V14.5C11,13.39 11.45,12.39 12.17,11.67L13.41,10.41C13.78,10.05 14,9.55 14,9C14,7.89 13.1,7 12,7A2,2 0 0,0 10,9H8A4,4 0 0,1 12,5A4,4 0 0,1 16,9C16,9.88 15.64,10.67 15.07,11.25M13,19H11V17H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                            </svg>

                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let earning of earnings">
                        <th scope="row">{{earnings!.indexOf(earning)+1}}</th>
                        <td>{{earning.bookName}}</td>
                        <td>{{earning.bookId}}</td>
                        <td>{{(earning.totalEarnings - earning.totalPaid) | currency:sellingCurrency:'symbol-narrow'}}
                        </td>
                        <td>{{earning.totalEarnings | currency:sellingCurrency:'symbol-narrow' }}</td>
                        <td>{{earning.totalPaid | currency:sellingCurrency:'symbol-narrow' }}</td>
                        <td> <button ly-button [disabled]="(earning.totalEarnings - earning.totalPaid) <= 0"
                                (click)="requestPayment(earning.bookId)"> {{ t('request_payment') }}</button> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    
</div>
