<div *transloco="let t" class="my-books p-2">

    <h1>{{ t('my_books')}}</h1>
    
    <div class="table-responsive-lg" [className]="classes.shadow">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ t('name')}}</th>
                    <th scope="col">ID/ISBN</th>
                    <th scope="col">{{ t('status')}}</th>
                    <th scope="col">{{ t('price')}}</th>
                    <th scope="col">{{ t('category')}}</th>
                    <th scope="col">{{ t('downloads')}}</th>
                    <th scope="col">{{ t('rating')}}</th>
                    <th scope="col">{{ t('published_date')}}</th>
                    <th scope="col">{{ t('last_updated_hed')}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let book of books">
                    <th scope="row">{{books!.indexOf(book)+1}}</th>
                    <td>{{book.name}}</td>
                    <td>{{getUnMergedBookId(book.pubId, book.bookId)}}</td>
                    <td style="font-weight: 600;" [ngStyle]="{'color':getBookStatusColor(book)}">
                        {{getBookStatus(book)}}
                    </td>
                    <td>{{book.price | currency:book.sellerCurrency:'symbol-narrow'}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.totalDownloads}}</td>
                    <td>{{getBookRating(book)}}</td>
                    <td>{{getDateTime(book.publishedDate)}}</td>
                    <td>{{getDateTime(book.lastUpdated)}}</td>
                    <td class="text-start">
                        <button (click)="edit(book.bookId)" ly-button ly-menu-item>
                            <i>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                </svg>
                            </i>
                            <span lyMe="1">{{ t('edit') }}</span>
                        </button>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>
</div>
