$partial-white:#AFA5D9;
$sm-nav-width: 68px;

*,
::before,
::after {
  box-sizing: border-box
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 2rem;
  padding: .5rem 0 .5rem 1.5rem;
  font-size: 1.2rem;
  svg{
    width: 1.25rem;
    height: 1.25rem;
  }
}


.nav_link {
  position: relative;
  color: $partial-white;
  margin-bottom: .5rem;
  transition: .3s
}

.nav_link:hover {
  color: white
}

.show {
  left: 0
}

.active {
  color: white
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: white
}


.l-navbar {
  left: 0;
  padding: 1rem 1rem 0 0
}

.show {
  width: calc($sm-nav-width + 156px)
}
