@use '../../../../scss/components/logo'as *;
@use '../../../../scss/variables/input'as *;
@use '../../../../scss/variables/colors'as *;


.logo {
  @include logo;
}

.logout {
  font-size: 1.4rem;
  margin: 2rem;
  font-family: Stickler;
}

.illustration {
  width: 13rem;
  height: auto;
}

.parent {
  gap: 4rem;
}

.children {
  gap: 4rem;

  button {
    width: $input-width;
  }
}