@use '../../../../scss/components/logo'as *;
@use '../../../../scss/variables/input'as *;
@use '../../../../scss/variables/colors'as *;


.logo {
  @include logo;
}

.logout {
  margin: 2rem;
 font-size: 1.3rem;
 svg {
   width: 1.5rem;
   height: 1.5rem;
 }
}

.illustration {
  width: 13rem;
  height: auto;
}

.parent {
  gap: 4rem;
}

.children {
  gap: 4rem;

  button {
    width: $input-width;
  }
}