@use '../../../../scss/components/logo'as *;
@use '../../../../scss/variables/input'as *;
@use '../../../../scss/variables/colors'as *;
@use '../../../../scss/components/logout-btn' as *;
@forward '../../../../scss/components/type-writter';


.logo {
  @include logo;
}

.logout {
  @include logout-btn;
}

.illustration {
  width: 13rem;
  height: auto;
}

.parent {
  gap: 4rem;
}

.children {
  gap: 4rem;

  button {
    width: $input-width;
  }
}
