 $primary:#6f42c1;
 $secondary:#0d6efd;
 $secondary-dark:#052c65;
 $primary-dark: #2c1a4d;
 $accent: #fd7e14;

 .bg-p-dark{
    background-color: $primary-dark;
 }
 .bg-s-dark{
    background-color: $secondary-dark;
 }
 .bg-accent{
     background-color: $accent;
 }

 .text-accent{
  color: $accent;
 }