<div *transloco="let t" class="my-books p-2">

    <div *ngIf="collaborators  && collaborators.length > 0 else noCollaborations">
        <h1>{{ t('earnings_from_sales_collab')}}</h1>

        <div [className]="classes.shadow" class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">{{ t('book_name')}}</th>
                        <th scope="col">{{ t('book_id')}}</th>
                        <th scope="col">{{ t('publishers_name')}}
                        </th>
                        <th scope="col">{{ t('commission_in_percent')}}
                        </th>
                        <th scope="col">{{ t('sales_link')}}
                        </th>
                        <th scope="col">{{ t('earnings_in_ngn')}}
                        </th>
                        <th scope="col">{{ t('earnings_in_usd')}}
                        </th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let collaborator of collaborators">
                        <th scope="row">{{collaborators!.indexOf(collaborator)+1}}</th>
                        <td>{{collaborator.bookName}}</td>
                        <td>{{collaborator.bookId}}</td>
                        <td>{{collaborator.pubName}}</td>
                        <td>{{(collaborator.collabCommissionInPercent)}}%
                        </td>
                        <td>{{(collaborator.link)}}
                        </td>
                        <td>{{collaborator.totalEarningsInNGN | currency:NGN:'symbol-narrow' }}</td>
                        <td>{{collaborator.totalEarningsInUSD | currency:USD:'symbol-narrow' }}</td>

                        <td class="text-start">
                            <button [lyMenuTriggerFor]="menuTemplateRef" ly-button appearance="icon">
                                <i>
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" />
                                    </svg>
                                </i>
                            </button>
                        
                            <ng-template #menuTemplateRef let-M>
                                <ly-menu [ref]="M">
                                    <button (click)="copySaleLink(collaborator.link!)" ly-button ly-menu-item>
                                        <i>
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                            <path fill="currentColor"
                                                d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z" /> </svg>
                                        </i>
                                        <span lyMe="1">{{ t('copy_sale_link') }}</span>
                                    </button>
                                </ly-menu>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <ng-template #noCollaborations>
        <h1> {{t('no_collaboration_title') }} </h1>
        <p>{{t('no_collaboration_msg') }}</p>
    </ng-template>

</div>
