<div ly-dialog-content [lyPx]="0"  >

    <div *ngIf="ready">
        <button lyTooltip="Zoom in" [lyTooltipPlacement]="bottom"   (click)="cropper.zoomIn()" ly-button appearance="icon">
            <i><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M15.5,14L20.5,19L19,20.5L14,15.5V14.71L13.73,14.43C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.43,13.73L14.71,14H15.5M9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14M12,10H10V12H9V10H7V9H9V7H10V9H12V10Z" />
            </svg></i>
        </button>
        <button lyTooltip="Zoom out" [lyTooltipPlacement]="bottom"   (click)="cropper.zoomOut()" ly-button appearance="icon">
            <i><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M15.5,14H14.71L14.43,13.73C15.41,12.59 16,11.11 16,9.5A6.5,6.5 0 0,0 9.5,3A6.5,6.5 0 0,0 3,9.5A6.5,6.5 0 0,0 9.5,16C11.11,16 12.59,15.41 13.73,14.43L14,14.71V15.5L19,20.5L20.5,19L15.5,14M9.5,14C7,14 5,12 5,9.5C5,7 7,5 9.5,5C12,5 14,7 14,9.5C14,12 12,14 9.5,14M7,9H12V10H7V9Z" />
            </svg></i>
        </button>
        <button lyTooltip="Align center" [lyTooltipPlacement]="bottom"   (click)="cropper.center()" ly-button appearance="icon">
            <i><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9M19,19H15V21H19A2,2 0 0,0 21,19V15H19M19,3H15V5H19V9H21V5A2,2 0 0,0 19,3M5,5H9V3H5A2,2 0 0,0 3,5V9H5M5,15H3V19A2,2 0 0,0 5,21H9V19H5V15Z" />
            </svg></i>
        </button>
        <button lyTooltip="Rotate 90 deg" [lyTooltipPlacement]="bottom"  (click)="cropper.rotate(-90)" ly-button appearance="icon">
            <i><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M7.34,6.41L0.86,12.9L7.35,19.38L13.84,12.9L7.34,6.41M3.69,12.9L7.35,9.24L11,12.9L7.34,16.56L3.69,12.9M19.36,6.64C17.61,4.88 15.3,4 13,4V0.76L8.76,5L13,9.24V6C14.79,6 16.58,6.68 17.95,8.05C20.68,10.78 20.68,15.22 17.95,17.95C16.58,19.32 14.79,20 13,20C12.03,20 11.06,19.79 10.16,19.39L8.67,20.88C10,21.62 11.5,22 13,22C15.3,22 17.61,21.12 19.36,19.36C22.88,15.85 22.88,10.15 19.36,6.64Z" />
            </svg></i>
        </button>
        <button lyTooltip="Fit in" [lyTooltipPlacement]="bottom"   (click)="cropper.fit()" appearance="icon" ly-button>
            <i>
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M17 4H20C21.1 4 22 4.9 22 6V8H20V6H17V4M4 8V6H7V4H4C2.9 4 2 4.9 2 6V8H4M20 16V18H17V20H20C21.1 20 22 19.1 22 18V16H20M7 18H4V16H2V18C2 19.1 2.9 20 4 20H7V18M16 10V14H8V10H16M18 8H6V16H18V8Z" />
                </svg>
            </i>
        </button>
    </div>

    <ly-img-cropper [config]="myConfig"  [(scale)]="scale" (ready)="ready = true" (cleaned)="ready = false"
        (minScale)="minScale = $event">
        <span>Click to upload image</span>
    </ly-img-cropper>
  


    <div *ngIf="ready" [className]="classes.sliderContainer">
        <div [class]="classes.slider">
            <ly-slider [thumbVisible]="false" [min]="minScale" [max]="1" [(ngModel)]="scale"
                (input)="scaleN($event)" [step]="0.000001"></ly-slider>
        </div>
    </div>

</div>

<div container *ngIf="ready" [lyJustifyContent]="'flex-end'" ly-dialog-actions>
    <button ly-button color="primary" (click)="dialogRef.close()">CANCEL</button>
    <button ly-button color="primary" (click)="dialogRef.close(cropper.crop())">DONE</button>
</div>
