
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 2rem;

    button, .notice, h5, input{
        width: 18.75rem;
    }
    h5{
        text-align: center
    }
    .form{
       gap: .5rem;
    }

    .google{
        gap:.5rem;
         img{
           width: 1.5rem;
       }
    }
    .logo{
        width: 6.5rem;
        height: 6.5rem;
        background-color: white;
        border-radius: 2.2rem;
         img{
        width: 4rem;
    }
    }
   
}