
@use '../../scss/variables/input' as *;

.heading{
  font-size: 2rem;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    gap: 2rem;

    button, .heading, .notice, h5, input{
        width: $input-width;
    }
    h5{
        text-align: center
    }
   
}

 .form {
   gap: .5rem;
 }

 .notice {
   font-size: 1rem;
 }

 .google {
   gap: .5rem;

   img {
     width: 1.2rem;
   }
 }

 .logo {
   width: 6rem;
   height: 6rem;
   background-color: white;
   border-radius: 2rem;

   img {
     width: 3.5rem;
   }
 }