<div *transloco="let t" class="container d-flex flex-column align-items-center justify-content-center pb-1">

  <div class="logo shadow-sm d-flex align-items-center justify-content-center">
    <img src="assets/images/logo.svg">
  </div>


  <div class="form d-flex flex-column align-items-center justify-content-center">

    <h1 class="heading text-center">{{ t('auth_welcome_msg', {value: t('app_name')}) }} </h1>


    <form [formGroup]="emailSignInForm" (ngSubmit)="signInWithEmail()">

      <div class="form-group mb-1" [ngClass]="{'has-error':hasError}"  >
        <label class="form-label label-lg" for="emailFC">{{ t('email_address') }}</label>
        <input class="form-input input-lg"  id="emailFC" type="email"  placeholder="name@example.com" formControlName="emailFC" >
        <p *ngIf="hasError"  class="form-input-hint">{{ t('invalid_email_msg') }}</p>
      </div>

      <button type="submit" ly-button elevation="1"  bg="primary">{{ t('continue_with_email') }}</button>

    </form>

    <span class="text-muted or">{{t('or')}}</span>

    <button (click)="signInWithGoogleRedirect()"
    ly-button raised elevation="1"
      class="google"> 
      <img src="assets/images/google.png">
      
      <span [lyPe]="2" >{{ t('continue_with_google') }}</span>
    </button>

    <p class="notice"> <small class="text-muted">{{t('by_proceeding_you_agree')}} <a class="link-secondary"
          href="https://www.bookshelfhub.com/terms" target="_blank" rel="noopener noreferrer">{{t('terms')}}</a> {{t('and')}} <a
          class="link-secondary" href="https://www.bookshelfhub.com/privacy" target="_blank"
          rel="noopener noreferrer">{{t('privacy_policy')}}</a>.</small></p>
  </div>


</div>
