
.collaborators{
    min-height: 90vh;
    .empty-state{
        font-size: 1.4rem;
        img{
            width: 30rem;
            height: auto;
        }
    }
}

.learn-more{
    svg{
        width: 1.4rem;
        height: 1.4rem;
    }
    
}

.navigation{
    margin: 1.5rem -2rem;
    padding-top: 1rem;
}
