.collaborators{
    min-height: 90vh;
    .empty-state{
        img{
            width: 30rem;
            height: auto;
        }
    }
}

.learn-more{
    font-size: 1.3rem;
    svg{
        width: 1.4rem;
        height: 1.4rem;
    }
    
}