<form *transloco="let t" [formGroup]="bankForeignForm">

    <div class="d-flex gap-1 mb-1">
        <label class="form-label label-lg flex-shrink-0" for="bankSwiftCodeFC">{{ t('bank_swift_code') }}</label>

        <div class="form-group"
            [ngClass]="{'has-error':bankSwiftCodeFC.hasError('required') && bankSwiftCodeFC.touched}">

            <input type="text" class="form-input input-lg" id="bankSwiftCodeFC" formControlName="bankSwiftCodeFC">

            <p *ngIf="bankSwiftCodeFC.hasError('required') && bankSwiftCodeFC.touched" class="form-input-hint">
                {{ t('bank_swift_code_req_msg') }}
            </p>

        </div>
    </div>


    <div class="d-flex gap-1 mb-1">
        <label class="form-label label-lg flex-shrink-0" for="bankRoutingNumberFC">{{ t('bank_routing_numb') }}</label>

        <div class="form-group"
            [ngClass]="{'has-error':bankRoutingNumberFC.hasError('required') && bankRoutingNumberFC.touched}">

            <input type="text" class="form-input input-lg" id="bankRoutingNumberFC"
                formControlName="bankRoutingNumberFC">

            <p *ngIf="bankRoutingNumberFC.hasError('required') && bankRoutingNumberFC.touched" class="form-input-hint">
                {{ t('bank_routing_numb_req') }}
            </p>

        </div>
    </div>

    <div class="d-flex mb-1 ">
        <div class="d-flex gap-1">
            <label class="form-label label-lg flex-shrink-0" for="bankAddressFC">{{ t('bank_address') }}</label>

            <div class="form-group bank-address"
                [ngClass]="{'has-error':bankAddressFC.hasError('required') && bankAddressFC.touched}">

                <input type="text" class="form-input input-lg bank-address" id="bankAddressFC"
                    formControlName="bankAddressFC">

                <p *ngIf="bankAddressFC.hasError('required') && bankAddressFC.touched" class="form-input-hint">
                    {{ t('bank_addr_req') }}
                </p>

            </div>
        </div>
    </div>

    <div class="d-flex mb-1 gap-1">
        <label class="form-label label-lg flex-shrink-0">{{ t('account_type') }}</label>

        <div class="form-group account-type"
            [ngClass]="{'has-error':accountTypeFC.hasError('required') && accountTypeFC.touched}">
            <select formControlName="accountTypeFC" class="form-select select-lg account-type">
                <option value="{{ savings }}">{{ savings }}</option>
                <option value="{{ current }}">{{ current }}</option>
                \
            </select>

            <p *ngIf="accountTypeFC.hasError('required') && accountTypeFC.touched" class="form-input-hint">
                {{ t('account_type_req') }}
            </p>
        </div>
    </div>


    <div class="d-flex mb-2">
        <div class="d-flex gap-1">
            <label class="form-label label-lg flex-shrink-0" for="residentialAddressFC">{{ t('residential_address') }}</label>

            <div class="form-group your-address"
                [ngClass]="{'has-error':residentialAddressFC.hasError('required') && residentialAddressFC.touched}">

                <input type="text" class="form-input input-lg your-address" id="addressFC" formControlName="residentialAddressFC">

                <p *ngIf="residentialAddressFC.hasError('required') && residentialAddressFC.touched" class="form-input-hint">
                    {{ t('your_addr_req') }}
                </p>

            </div>
        </div>
    </div>



</form>
