<form *transloco="let t" [formGroup]="payPalForm" (ngSubmit)="submitFormData()">


    <div class=" mb-2 d-flex gap-1">

        <label class="form-label label-lg flex-shrink-0" for="emailFC">{{ t('email_address') }}</label>

        <div class="form-group" [ngClass]="{'has-error':hasError}">

            <input class="form-input input-lg" id="emailFC" formControlName="emailFC">

            <p *ngIf="hasError" class="form-input-hint">{{ t('invalid_email_msg') }}</p>
        </div>


    </div>



    <button type="submit" ly-button raised bg="primary" class="float-end">{{ t('update')}}</button>

</form>
