<div class="collab-dialog">
    <ly-paper lyP="1rem" [elevation]="2">
        <h3>Add a Collaborator</h3>
        <form *transloco="let t" [formGroup]="collaboratorsForm">

            <div class="form-group" [ngClass]="{'has-error':nameFC.hasError('required') && nameFC.touched}">
                <label class="form-label label-lg" for="nameFC">{{ t('collab_name') }}</label>
                <input class="form-input input-lg" id="nameFC" type="text" formControlName="nameFC">
                <p *ngIf="nameFC.hasError('required') && nameFC.touched" class="form-input-hint">
                    {{ t('collab_name_req') }}
                </p>
            </div>

            <div class="form-group"
                [ngClass]="{'has-error':(emailFC.hasError('required') || emailFC.hasError('pattern')) && emailFC.touched}">
                <label class="form-label label-lg" for="emailFC">{{ t('collab_email') }} <span
                        lyColor="primary">{{rootDomain}}</span> </label>
                <input class="form-input input-lg" id="emailFC" type="email" placeholder="name@example.com"
                    formControlName="emailFC">
                <p *ngIf="(emailFC.hasError('required') || emailFC.hasError('pattern')) && emailFC.touched"
                    class="form-input-hint">{{ t('invalid_email_msg') }}</p>
            </div>

            <div class="form-group" [ngClass]="{'has-error':bookIDFC.hasError('required') && bookIDFC.touched}">
                <label class="form-label label-lg" for="bookFC">{{ t('book') }}</label>
                <select formControlName="bookFC" class="form-select select-lg">
                    <option *ngFor="let book of allBooks" value="{{ book.bookId }}">{{ book.name }}
                        ({{getUnMergedBookId(book.pubId, book.bookId) }})</option>
                </select>

                <p *ngIf="bookIDFC.hasError('required') && bookIDFC.touched" class="form-input-hint">
                    {{ t('book_red') }}
                </p>

            </div>

            <div class="form-group mb-1 w-50"
                [ngClass]="{'has-error':(commissionFC.hasError('required') || commissionFC.hasError('pattern')) && commissionFC.touched}">
                <label class="form-label label-lg"  for="commissionFC">{{ t('sales_comm_in') }} </label>
                <input class="form-input input-lg" id="commissionFC" type="number" placeholder="{{maxAllowedCommission}} max"  formControlName="commissionFC">
                <p *ngIf="commissionFC.hasError('required') && commissionFC.touched" class="form-input-hint">
                    {{ t('commission_req') }}
                </p>
            </div>

            <div class="text-end">
                <button (click)="createAcollaborator()" disabled [disabled]="!collaboratorsForm.valid" [elevation]="1"
                    class="w-100" type="submit" ly-button raised bg="primary">{{ t('create_collab') }}</button>
            </div>

        </form>

    </ly-paper>
</div>
