@use '../../../scss/components/logo'as *;
@use '../../../scss/variables/input'as *;

.root{
    width: 100%;
    height: 100%; 
    overflow: scroll
}


.input-group{
    input{
        width: 50%
    }
}

.logo{
    @include logo;
}

.input-group, button[type="submit"], input {
    width: $input-width;
}

.fullname, .phone, .country{
    gap: 2rem;
}


.form{
    border-radius: 0;
    .form-label{
        margin-top: .2rem;
        font-size: 1.2rem;
        width: 6rem;
    }
}
