@use '../../../scss/variables/border' as *;
@use '../../../scss/components/logo'as *;
@use '../../../scss/variables/input'as *;

.root{
    width: 100%;
    height: 100%; 
    overflow: scroll
}


.logo{
    @include logo;
}

button[type="submit"], input {
    width: $input-width;
}

.phone{
    gap: 2rem;
}

.illustration{
 border-radius: $card-border-radius 0 0 $card-border-radius;
 img{
     width: 12rem;
     height: auto;
 }
}

.form{
    border-radius: 0 $card-border-radius $card-border-radius 0;
    .form-label{
        margin-top: .2rem;
        font-size: 1.2rem;
        width: 6rem;
    }
}

.fullname{
    gap: 2rem;
}

.parent{
 border-radius: $card-border-radius;
 display: inline-flex;
 margin-left: 2rem;
}