<div class="root" *transloco="let t">

    <div class="d-flex align-items-baseline justify-content-start mb-4">
        <div class="logo shadow-sm d-flex align-items-center justify-content-center">
            <img src="assets/images/logo.svg">
        </div>
    </div>

    <div class="pb-2 content">

        <div class="p-2">

            <h1 class="mb-3">{{ t('complete_signup_sub_header') }}</h1>

            <app-user-data-form (dataUpdatedEvent)="onDataUpdate( $event )" [registeredDate]="registeredDate" [lastUpdated]="lastUpdated"  [action]="action"  [userDataForm]="userDataForm"></app-user-data-form>

        </div>

    </div>


</div>
