
<div *ngIf="(isLoading$ | async)" class="indeterminate-progress bg-primary fixed-top">
  <div class="indeterminate"></div>
</div>

<div class="shield">
  <div *ngIf="isNotConnected$ | async"
    class="warning-panel d-flex justify-content-center align-items-center fixed-top show">
    <span *transloco="let t"> {{ t('no_connection_error', {value: t('app_name')}) }}</span>
  </div>

  <router-outlet></router-outlet>
  
</div>

<div *ngIf="showPreloader$ | async" class="preloader bg-light">
  <div class="mosaic-loader">
    <div class="cell d-0"></div>
    <div class="cell d-1"></div>
    <div class="cell d-2"></div>
    <div class="cell d-3"></div>
    <div class="cell d-1"></div>
    <div class="cell d-2"></div>
    <div class="cell d-3"></div>
    <div class="cell d-4"></div>
    <div class="cell d-2"></div>
    <div class="cell d-3"></div>
    <div class="cell d-4"></div>
    <div class="cell d-5"></div>
  </div>
</div>
