<div class="profile d-flex flex-column no-select align-items-center justify-content-start" *transloco="let t">

    <div class="navigation align-self-stretch">
        <ul class="tab">
            <li class="tab-item">
                <a [routerLink]="profile" [routerLinkActive]="'active'">Profile</a>
            </li>
        </ul>
    </div>

    <div class="p-2">
        <div class="card shadow-sm">
            <div class="card-header">
                <h4 class="m-0 p-0">Profile</h4>
            </div>
            <form class="m-2" [formGroup]="profileForm">
                <app-user-data-form (dataUpdatedEvent)="onDataUpdate($event)" [registeredDate]="registeredDate"
                    [lastUpdated]="lastUpdated" [action]="action" [userDataForm]="userDataForm">
                </app-user-data-form>
            </form>
        </div>

        <div class="account-panel">
              <ly-accordion >
            <ly-expansion-panel>
                <ly-expansion-panel-header>
                    <ly-panel-title>
                    {{ t('account')}}
                    </ly-panel-title>
                    <ly-panel-description>{{ t('toggle_panel_msg')}}</ly-panel-description>
                </ly-expansion-panel-header>

                <div >
                    <p class="pub-id" >{{ t('publishers_id')}} 896987678567856785698</p>

                   <p class="text-danger"> {{ t('id_confid_msg')}}</p>

                </div>

                <ly-action-row>
                    <button ly-button color="primary">
                        <i>
                            <svg viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" />
                            </svg>
                        </i>

                        <span [lyPe]="1">{{ t('logout_all_dev')}}</span>
                       
                    </button>
                </ly-action-row>
            </ly-expansion-panel>
        </ly-accordion>
        </div>
      

    </div>



</div>
