@use '../variables/colors';
@import '~spectre.css/src/variables';
@import '~spectre.css/src/mixins';


//My custom variables
@import '../variables/spectre';


@import '~spectre.css/src/tabs';
@import '~spectre.css/src/forms';
@import '~spectre.css/src/panels';
@import '~spectre.css/src/tiles';


.tab {
  font-size: 1.2rem;
  gap: 2rem;
  font-family: 'Source Sans Pro';

  .tab-item {
    a {

      &:hover {
        color: colors.$accent !important;
      }
    }

    a.active {
      color: colors.$accent !important;
      border-bottom-color: colors.$accent !important;
    }
  }

}

