<div *transloco="let t" class="my-books p-2">
    <ly-paper [elevation]="2">
        <div class="table-responsive-lg">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ t('name')}}</th>
                        <th scope="col">ID/ISBN</th>
                        <th scope="col">{{ t('status')}}</th>
                        <th scope="col">{{ t('price')}}</th>
                        <th scope="col">{{ t('category')}}</th>
                        <th scope="col">{{ t('downloads')}}</th>
                        <th scope="col">{{ t('rating')}}</th>
                        <th scope="col">{{ t('published_date')}}</th>
                        <th scope="col">{{ t('last_updated_hed')}}</th>
                        <th scope="col">{{t('options')}}</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let book of books">
                        <th scope="row">{{books!.indexOf(book)+1}}</th>
                        <td>{{book.name}}</td>
                        <td>{{getBookId(book)}}</td>
                        <td [ngStyle]="{'color':getBookStatusColor(book)}"> {{getBookStatus(book)}}</td>
                        <td>{{book.price | currency:book.sellerCurrency:'symbol-narrow'}}</td>
                        <td>{{book.category}}</td>
                        <td>{{book.totalDownloads}}</td>
                        <td>{{getBookRating(book)}}</td>
                        <td>{{getDateTime(book.publishedDate)}}</td>
                        <td>{{getDateTime(book.lastUpdated)}}</td>
                        <td class="text-start">
                            <button [lyMenuTriggerFor]="menuTemplateRef" ly-button appearance="icon">
                                <i>
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                        <path fill="currentColor"
                                            d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" />
                                    </svg>
                                </i>
                            </button>

                            <ng-template #menuTemplateRef let-M>
                                <ly-menu [ref]="M">
                                    <button (click)="edit(book.bookId)" ly-button ly-menu-item>
                                        <i>
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                    d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                            </svg>
                                        </i>
                                        <span lyMe="1">{{ t('update') }}</span>
                                    </button>
                                    <button (click)="unpublish(book.bookId)" ly-button ly-menu-item>
                                        <i>
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                                <path fill="currentColor"
                                                    d="M22,17V19H14V17H22M12,17V15H7V17H12M17,11H7V13H14.69C13.07,14.07 12,15.91 12,18C12,19.09 12.29,20.12 12.8,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V12.8C20.12,12.29 19.09,12 18,12L17,12.08V11M17,9V7H7V9H17Z" />
                                            </svg>
                                        </i>
                                        <span lyMe="1">{{ t('unpublish') }}</span>
                                    </button>

                                    <button (click)="publish(book.bookId)" ly-button ly-menu-item>
                                        <i>
                                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">

                                                <path fill="currentColor"
                                                    d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M12,18C9.95,18 8.19,16.76 7.42,15H9.13C9.76,15.9 10.81,16.5 12,16.5A3.5,3.5 0 0,0 15.5,13A3.5,3.5 0 0,0 12,9.5C10.65,9.5 9.5,10.28 8.9,11.4L10.5,13H6.5V9L7.8,10.3C8.69,8.92 10.23,8 12,8A5,5 0 0,1 17,13A5,5 0 0,1 12,18Z" />
                                            </svg>
                                        </i>
                                        <span lyMe="1">{{ t('publish') }}</span>
                                    </button>
                                </ly-menu>
                            </ng-template>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </ly-paper>
</div>
