<div *transloco="let t" class="my-books p-2">


    <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ t('name')}}</th>
                    <th scope="col">{{ t('status')}}</th>
                    <th scope="col">{{ t('price')}}</th>
                    <th scope="col">{{ t('category')}}</th>
                    <th scope="col">{{ t('downloads')}}</th>
                    <th scope="col">{{ t('rating')}}</th>
                    <th scope="col">{{ t('published_date')}}</th>
                    <th scope="col">{{ t('last_updated_hed')}}</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let book of books">
                    <th scope="row">{{books!.indexOf(book)+1}}</th>
                    <td>{{book.name}}</td>
                    <td>{{getBookStatus(book)}}</td>
                    <td>{{book.sellerCurrency+book.price}}</td>
                    <td>{{book.category}}</td>
                    <td>{{book.totalDownloads}}</td>
                    <td>{{book.totalRatings/book.totalReviews}}</td>
                    <td>{{getDateTime(book.publishedDate)}}</td>
                    <td>{{getDateTime(book.lastUpdated)}}</td>
                    <td class="text-start">
                        <button (click)="edit(book.bookId)" lyTooltip="{{ t('edit') }}" [lyTooltipPlacement]="bottom" ly-button
                            appearance="icon">
                            <i>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z" />
                                </svg>
                            </i>
                        </button>

                        <button (click)="unpublish(book.bookId)" lyTooltip="{{ t('unpublish') }}" [lyTooltipPlacement]="bottom"
                            ly-button appearance="icon" lyMe="1">
                            <i>
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M22,17V19H14V17H22M12,17V15H7V17H12M17,11H7V13H14.69C13.07,14.07 12,15.91 12,18C12,19.09 12.29,20.12 12.8,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V12.8C20.12,12.29 19.09,12 18,12L17,12.08V11M17,9V7H7V9H17Z" />
                                </svg>
                            </i>
                        </button>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

</div>
