@use '../../../scss/variables/input'as *;
@use '../../../scss/font' as *;


.input-group {
  input {
    width: 50%
  }
}

.input-group,
button[type="submit"],
input {
  width: $input-width;
}

.fullname,
.phone,
.country {
  gap: 2rem;
}

.form {
  
  font-family: $system-font;

  .form-label {
    margin-top: .2rem;
    font-size: 1.2rem;
    width: 6rem;
  }
}