<form class="form" *transloco="let t" [formGroup]="userDataForm" (ngSubmit)="submitFormData()">

    <div class="d-flex mb-2 fullname" >
        <label class="form-label label-lg flex-shrink-0"> {{ t('full_name') }}
        </label>

        <div class="form-group m-0"  
            [ngClass]="{'has-error':(firstNameFC.hasError('required') || firstNameFC.hasError('minlength')) && firstNameFC.touched}">
            <input class="form-input input-lg" type="text" placeholder="{{ t('first_name') }}"
                formControlName="firstNameFC">
            <p *ngIf="(firstNameFC.hasError('required') || firstNameFC.hasError('minlength')) && firstNameFC.touched"
                class="form-input-hint">{{ t('name_field_required') }}</p>
        </div>

        <div class="form-group m-0" 
            [ngClass]="{'has-error':(lastNameFC.hasError('required') || lastNameFC.hasError('minlength')) && lastNameFC.touched}">
            <input class="form-input input-lg" type="text" placeholder="{{ t('last_name') }}"
                formControlName="lastNameFC">
            <p *ngIf="(lastNameFC.hasError('required') || lastNameFC.hasError('minlength')) && lastNameFC.touched"
                class="form-input-hint">{{ t('name_field_required') }}</p>
        </div>

    </div>

    <div class="d-flex mb-2 country">
        <label class="form-label label-lg flex-shrink-0">{{ t('nationality') }}</label>

        <div class="form-group w-100" [ngClass]="{'has-error':countryFC.hasError('required') && countryFC.touched}">
            <select (change)="onCountrySelectChanged($event)" formControlName="countryFC" class="form-select select-lg">
                <option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</option>
            </select>

            <p *ngIf="countryFC.hasError('required') && countryFC.touched" class="form-input-hint">
                {{ t('name_field_required') }}
            </p>
        </div>
    </div>

    <div class="d-flex mb-2 phone align-items-start">

        <label class="form-label label-lg flex-shrink-0 ">{{ t('phone') }}</label>

        <div class="form-group"
            [ngClass]="{'has-error':(phoneFC.hasError('required')|| isInvalidPhoneNum) && phoneFC.touched}">
            <div class="input-group">
                <select class="form-select select-lg" [value]="dialingCodeByCountry"
                    (change)="onDiallinCodeSelectedChanged($event)">
                    <option *ngFor="let diallingCode of diallingCodes" value="{{ diallingCode.callingCode }}">
                        {{ diallingCode.callingCode }}
                    </option>
                </select>
                <input formControlName="phoneFC" class="form-input input-lg w-70" type="number">
            </div>
            <p *ngIf="phoneFC.hasError('required') && phoneFC.touched" class="form-input-hint">
                {{ t('phone_numer_required') }}
            </p>
            <p *ngIf="isInvalidPhoneNum" class="form-input-hint">{{ t('invalid_phone') }}
            </p>

        </div>


        <div class="form-group" [ngClass]="{'has-error':genderFC.hasError('required') && genderFC.touched}">
            <div class="input-group">
                <span class="input-group-addon addon-lg">{{ t('gender') }}</span>
                <select formControlName="genderFC" class="form-select select-lg">
                    <option value="male">{{ t('male') }}</option>
                    <option value="female">{{ t('female') }}</option>
                </select>
            </div>
            <p *ngIf="genderFC.hasError('required') && genderFC.touched" class="form-input-hint">
                {{ t('gender_required') }}
            </p>
        </div>



    </div>

    <div class="d-flex justify-content-end">
        <button disabled [disabled]="!userDataForm.valid" type="submit" ly-button raised
            bg="primary">{{ action }}</button>
    </div>

</form>
