@use '../../../scss/variables/input'as *;
@use '../../../scss/font'as *;

.input-group {
  input {
    width: 50%
  }
}

.label{
  font-size: 1.2rem;
}

.input-group,
button[type="submit"],
input {
  width: 15rem;
}

.fullname,
.phone,
.country {
  gap: 1rem;
}

.form {
  .form-label {
    width: 6rem;
  }
}
