@forward '../../../scss/components/harmburger';
@forward '../../../scss/components/bell-button';
@use '../../../scss/variables/colors'as *;

$nav-width: 15rem;
$tool-bar-height:3rem;
$right-nav-width: calc($nav-width + 5rem);


.logo {
  span {
    font-size: 1.2rem;
    color: black;
  }

  svg {
    width: auto;
    height: 2.2rem;
  }
}

.main {
  min-height: 100vh;
  padding-top: $tool-bar-height;
  z-index: 1;
  transition: transform 0.3s;
}

.notification-header {
  h5 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }

  background-color: $primary-dark;

  svg {
    stroke: white;
  }
}


.tool-bar {
  height: calc($tool-bar-height - 0.1rem);
  z-index: 20;
}

.tool-bar-shadow {
  height: $tool-bar-height;
  z-index: 15;
}


//The sidenav itself
.left-nav {
  background-color: $primary-dark;
  display: inline-block;
  position: fixed;
  z-index: 10;
  padding-top: $tool-bar-height;
  height: 100vh;
  width: $nav-width;
  left: -$nav-width;
  transition: transform 0.3s;
}

.toggle-main {
  transition: transform 0.3s;
  right: $nav-width;
  transform: translateX($nav-width);
}

.toggle-left-nav {
  transition: transform 0.3s;
  transform: translateX($nav-width);
}


.right-nav {
  display: inline-block;
  position: fixed;
  height: 100vh;
  z-index: 25;
  width: $right-nav-width;
  right: -$right-nav-width;
  transition: transform 0.3s;
}

.sidenav-active,
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  transition: background-color .3s, transform 0.3s;
}

.overlay {
  z-index: 18;
}

.right-nav,
.overlay {
  transition: transform 0.3s;

  .sidenav-active & {
    transform: translateX(-$right-nav-width);
  }
}

//c. Prevent body scroll
.noscroll {
  position: relative; //for ios
  overflow: hidden;
}
