//*Global styles only
@forward './scss/root/';
@forward './scss/font';
@forward './scss/utils';


//Resets
 hr {
   height: 1px;
   border: none;
   margin: 0;
 }
 img{
   user-select: none;
 }
 a{
   text-decoration: none;
 }