@use './mixins' as *;

$app-font: Stickler;

$system-font2: system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif;

@font-face {
    font-family: 'Stickler';
    src: url('../assets/fonts/Stickler-Pro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
    @include hiResDisp{
        font-size: 150%
    }
}

body{
    font-family: $app-font;
}

select, option, .invalid-feedback{
//font-size: 1.1rem;
}