@use './mixins' as *;

$app-font: Stickler;
$app-secondary-font: Procyon;

@font-face {
  font-family: 'Procyon', sans-serif;
  src: url('../assets/fonts/ProcyonPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Stickler', sans-serif;
    src: url('../assets/fonts/Stickler-Pro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
    @include hiResDisp{
        font-size: 140%
    }
}

body{
    font-family: $app-font;
}

h1, h2, h3, h4, h5, h6, table, .logo{
    font-family: $app-secondary-font;
}
