@use '../../../../../scss/animations/bounce_in'as *;
@use '../../../../../scss/variables/payment'as *;

.details {
  font-size: 1.4rem;
}

.example-tile-icon{
  img{
    width: 50px;
  }
}

.tile {
  width: 23rem;
}

.empty-state {
  img {
    width: 25rem;
  }
}

.card {
  width: 50rem
}

.bounce-in {
  @include bounce-in(.3s);
}

.form-label {
  width: $label-width
}

.form-group {
  width: 15rem;
}
