<div *transloco="let t" class="payment-request d-flex justify-content-center w-100">

    <div  class="m-4">

        <table *ngIf="allPaymentRequest else noPaymentRequest" ly-table [dataSource]="allPaymentRequest" class="demo-table">

            <ng-container lyColumnDef="position">
                <th  ly-header-cell *lyHeaderCellDef> No. </th>
                <td ly-cell *lyCellDef="let paymentReq"> {{allPaymentRequest.indexOf(paymentReq)+1}} </td>
            </ng-container>

            <ng-container class="234" lyColumnDef="payment-request">
                <th ly-header-cell *lyHeaderCellDef> &nbsp; &nbsp; &nbsp;{{t('payment_req')}} </th>
                <td *lyCellDef="let paymentReq" [ngClass]="paymentReq.pubId"  ly-cell >
                    <ly-accordion >
                        <ly-expansion-panel elevation="0">
                            <ly-expansion-panel-header>
                                <ly-panel-title>  {{paymentReq.bookName}} &nbsp;- &nbsp;<span  class="amount">&nbsp;
                                        {{paymentReq.amount | currency:paymentReq.sellingCurrency:'symbol-narrow'}}</span>
                                </ly-panel-title>
                                <ly-panel-description>ID/ISBN: {{paymentReq.bookId}}
                                </ly-panel-description>
                            </ly-expansion-panel-header>
                            <p><span class="label"> {{ t('payment_type') }} : &nbsp; </span>
                                {{paymentReq.paymentDetails.paymentType}}
                            </p>

                            <div *ngIf="paymentReq.paymentDetails.paymentType === bankTransfer else payPalOrSkrill">
                                <p><span class="label"> {{ t('acct_name') }} : &nbsp; </span>
                                    {{paymentReq.paymentDetails.accountName}}
                                </p>
                                <p><span  class="label"> {{ t('acct_number') }} : &nbsp; </span>
                                    {{paymentReq.paymentDetails.accountNumber}}
                                </p>
                                <p><span class="label"> {{ t('bank_name') }} : &nbsp; </span>
                                    {{paymentReq.paymentDetails.bankName}}
                                </p>
                                <p><span class="label"> {{ t('bank_country') }} : &nbsp; </span>
                                    {{paymentReq.paymentDetails.bankCountry}}
                                </p>

                                <div *ngIf="paymentReq.paymentDetails.bankCountry !== nigeria">
                                    <p><span class="label"> {{ t('account_type') }} : &nbsp; </span>
                                        {{paymentReq.paymentDetails.accountType}}
                                    </p>
                                    <p><span class="label"> {{ t('bank_swift_code') }} : &nbsp; </span>
                                        {{paymentReq.paymentDetails.bankSwiftCode}}
                                    </p>
                                    <p><span class="label"> {{ t('bank_routing_numb') }} : &nbsp; </span>
                                        {{paymentReq.paymentDetails.bankRoutingNumber}}
                                    </p>
                                    <p><span class="label"> {{ t('bank_address') }} : &nbsp; </span>
                                        {{paymentReq.paymentDetails.bankAddress}}
                                    </p>
                                    <p><span class="label"> {{ t('residential_address') }} : &nbsp; </span>
                                        {{paymentReq.paymentDetails.residentialAddress}}
                                    </p>
                                </div>

                            </div>

                            <ng-template #payPalOrSkrill>
                                <p>
                                    <span class="label"> {{ t('email') }} : &nbsp;</span>
                                    {{paymentReq.paymentDetails.skrillEmail}}{{paymentReq.paymentDetails.paypalEmail}}
                                </p>
                            </ng-template>

                            <ly-action-row class="d-flex justify-content-between">
                                <button (click)="delete(paymentReq.id, paymentReq.bookId, paymentReq.bookName)"
                                    elevation="1" class="action-button" raised ly-button>
                                    {{ t('delete') }}
                                </button>

                                <button  (click)="markAsPaid(paymentReq.pubId, paymentReq.bookId, paymentReq.bookName, paymentReq.amount, paymentReq.id)"
                                    elevation="1" class="action-button" ly-button
                                    bg="primary">{{ t('mark_paid') }}</button>
                            </ly-action-row>
                        </ly-expansion-panel>
                    </ly-accordion>
                </td>
            </ng-container>

            <tr ly-header-row *lyHeaderRowDef="displayedColumns"></tr>
            <tr ly-row *lyRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <ng-template #noPaymentRequest>
            <h1 class="no-payment-req" >No payment request</h1>
        </ng-template>

    </div>

</div>
