@use '../variables/colors' as *;

$primary-color: $primary-color;
$dark-color: $primary-dark;
$control-size-lg:2.3rem;


$font-size: 1.1rem;
$font-size-sm: 1.1rem;
$font-size-lg: 1.2rem;

$border-color-dark: rgba(0, 0, 0, 0.2);

//$border-color-dark: $gray-500;
