<form *transloco="let t" [formGroup]="bookDetailsForm">

   <div class="d-flex gap-1 mb-2">
      <label class="form-label label-lg flex-shrink-0" for="bookNameFC">{{ t('book_name') }} <span
            class="text-muted">*</span></label>

      <div class="form-group" [ngClass]="{'has-error':bookNameFC.hasError('required') && bookNameFC.touched}">

         <input type="text" class="form-input input-lg account-name" id="bookNameFC" formControlName="bookNameFC">

         <p *ngIf="bookNameFC.hasError('required') && bookNameFC.touched" class="form-input-hint">
            {{ t('book_name_req') }}
         </p>

      </div>
   </div>

   <div class="d-flex mb-2 gap-1">
      <label class="form-label label-lg flex-shrink-0">{{ t('category') }} <span class="text-muted">*</span>  </label>

      <div class="form-group category"
         [ngClass]="{'has-error':bookCatgoryFC.hasError('required') && bookCatgoryFC.touched}">
         <select formControlName="bookCatgoryFC" class="form-select select-lg category">
            <option value=""></option>
         </select>

         <p *ngIf="bookCatgoryFC.hasError('required') && bookCatgoryFC.touched" class="form-input-hint">
            {{ t('book_cat_req') }}
         </p>
      </div>
   </div>

   <div class="d-flex gap-1 mb-2">
      <label class="form-label label-lg flex-shrink-0" for="bookAuthorFC">{{ t('author') }} <span
            class="text-muted">*</span> </label>

      <div class="form-group" [ngClass]="{'has-error':bookAuthorFC.hasError('required') && bookAuthorFC.touched}">

         <input type="text" class="form-input input-lg account-name" id="bookAuthorFC" formControlName="bookAuthorFC">

         <p *ngIf="bookAuthorFC.hasError('required') && bookAuthorFC.touched" class="form-input-hint">
            {{ t('author_name_req') }}
         </p>

      </div>
   </div>

   <div class="d-flex mb-2 gap-1">
      <label class="form-label label-lg flex-shrink-0">{{ t('tag') }}</label>

      <div class="form-group tag">
         <select formControlName="bookTagFC" class="form-select select-lg tag">
            <option value=""></option>
         </select>
      </div>
   </div>


   <div class="d-flex gap-1 mb-2">
      <label class="form-label label-lg flex-shrink-0" for="bookISBNFC">{{ t('isbn') }}</label>

      <div class="form-group">
         <input type="number" class="form-input input-lg account-name" id="bookISBNFC" formControlName="bookISBNFC">
      </div>
   </div>

   <div class="d-flex gap-1 mb-2">

      <label class="form-label label-lg flex-shrink-0" for="bookPriceFC">{{ t('price') }} <span
            class="text-muted">*</span> </label>

      <div class="form-group price"
         [ngClass]="{'has-error':(bookPriceFC.hasError('required') || bookCurrencyFC.hasError('required')) && (bookCurrencyFC.touched || bookPriceFC.touched)}">
         <div class="input-group price">
            <input class="form-input input-lg" type="text" formControlName="bookPriceFC">
            <select class="form-select select-lg w-100" formControlName="bookCurrencyFC">
               <option value="">Slack</option>
            </select>
         </div>

         <p *ngIf="(bookPriceFC.hasError('required') || bookCurrencyFC.hasError('required')) && (bookCurrencyFC.touched || bookPriceFC.touched)"
            class="form-input-hint">
            {{ t('price_currency_req') }}
         </p>
      </div>
   </div>

   <div class="d-flex gap-1 mb-2">

      <label class="form-label label-lg flex-shrink-0" for="bookDescFC">{{ t('desc') }} <span
            class="text-muted">*</span>
      </label>

      <div class="form-group" [ngClass]="{'has-error':bookDescFC.hasError('required') && bookDescFC.touched}">
         <textarea class="form-input" formControlName="bookDescFC" id="input-example-20"></textarea>

         <p *ngIf="bookDescFC.hasError('required') && bookDescFC.touched" class="form-input-hint">
            {{ t('book_desc_req') }}
         </p>
      </div>

   </div>

</form>
