<div *transloco="let t" class="publish-your-book d-flex justify-content-center align-items-center">

    <form [formGroup]="bookPublishForm" (ngSubmit)="submitFormData()" class="form">

        <ly-accordion>
            <ly-expansion-panel [expanded]="isContentFormExpand">
                <ly-expansion-panel-header>
                    <ly-panel-title>
                        {{t('step_1')}}
                    </ly-panel-title>
                    <ly-panel-description>{{t('book_details')}}</ly-panel-description>
                </ly-expansion-panel-header>

                <app-book-details-form  formGroupName="bookDetailsForm"> </app-book-details-form>

                <ly-action-row>
                    <button ly-button bg="primary">{{t('next')}}</button>
                </ly-action-row>
            </ly-expansion-panel>

            <ly-expansion-panel [disabled]="!isContentFormValid">
                <ly-expansion-panel-header>
                    <ly-panel-title>
                        {{t('step_2')}}
                    </ly-panel-title>
                    <ly-panel-description>{{t('book_assets')}}</ly-panel-description>
                </ly-expansion-panel-header>

                <app-book-asset-form  formGroupName="bookAssetsForm"> </app-book-asset-form>

            </ly-expansion-panel>
        </ly-accordion>

    </form>
    
</div>
