
.form{
    width: 45rem;
}

button[type="submit"],
.input-group,
.form-input {
  width: 20rem;
}

.form-label {
  width: 11rem;
}

.next-btn{
    width: 15rem;
}

.cover-frame{
  width: 210px;
  border-radius: 10px;
  padding: 5px;
  img{
    width: 200px;
    height: auto;
  }
}

.book-cover-label{
 width: 13rem;
}