<div *transloco="let t" class="publish-your-book d-flex justify-content-center">


    <div class="p-4">

        <div class="mb-2 d-flex align-items-center gap-2">
            <button (click)="goBack()"  ly-button appearance="icon">
                <svg style="width:28px;height:28px" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" />
                </svg>
            </button>
            <h1>{{t('pub_ur_book')}}</h1>
        </div>


        <form [formGroup]="bookPublishForm" (ngSubmit)="submitFormData()" class="form">

            <ly-accordion>
                <ly-expansion-panel [expanded]="isDetailsFormExpanded">
                    <ly-expansion-panel-header>
                        <ly-panel-title>
                            <h2>
                                {{t('step_1')}}
                            </h2>

                        </ly-panel-title>
                        <ly-panel-description>{{t('ur_book_details')}}</ly-panel-description>
                    </ly-expansion-panel-header>

                    <p class="text-muted my-1">{{t('req_fields')}}</p>

                    <app-book-details-form> </app-book-details-form>

                    <ly-action-row>
                        <button (click)="expandAssetForm()" class="mr-1 next-btn" disabled
                            [disabled]="!bookDetailsForm.valid" ly-button bg="primary">{{t('next')}}</button>
                    </ly-action-row>
                </ly-expansion-panel>

                <ly-expansion-panel [disabled]="bookDetailsForm.valid" [expanded]="isDetailsFormExpanded">
                    <ly-expansion-panel-header>
                        <ly-panel-title>
                            <h2>
                                {{t('step_2')}}
                            </h2>
                        </ly-panel-title>
                        <ly-panel-description>{{t('ur_book_assets')}}</ly-panel-description>
                    </ly-expansion-panel-header>

                    <app-book-asset-form> </app-book-asset-form>

                </ly-expansion-panel>
            </ly-accordion>

        </form>
    </div>

</div>
