@use '../../../../scss/variables/toolbar'as *;


.panel-header {
  height: $tool-bar-height;
}

.empty-state {
  img {
    width: 12.5rem;
    height: auto;
  }
}

.panel {
  overflow: auto;
}

.header {
  padding-top: .5rem;
}

.panel-nav {
  padding: .5rem;
}

.list-group {
  font-size: 1.2rem;

  .text-muted {
    font-size: 1.1rem;
  }

  p {
    margin-bottom: .5rem;
  }
}